Flask==2.0.3
Flask-Migrate==3.1.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
flask-marshmallow==0.14.0
marshmallow-sqlalchemy==0.24.2
Flask-HTTPAuth==4.2.0
passlib

gunicorn
psycopg2-binary
ipython==8.1.0